#fcs-inject

    // General overlay styles
    .fcs-overlay-element
        background: rgba(255, 255, 255, 0.7)
        border: 3px solid rgba(255,255,255, 0.4)

    // Main Overlay
    .fcs-overlay-outer
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        text-align: center

        &:before
            content: ''
            height: 100%
            width: 1px
            display: inline-block
            vertical-align: middle

        .fcs-overlay-inner
            display: inline-block
            margin: 0 auto
            padding: 20px
            width: 80%
            max-width: 500px
            vertical-align: middle

            h1, h2, h3
                margin-top: 0

            .fcs-error
                color: #800
                background-color: #F99
                border: 1px solid #FCC
                padding: 5px

            .fcs-ui-button-container
                display: inline-block
                margin-top: 10px

    //Floating toolbar
    .fcs-toolbar-overlay
        position: absolute
        left: 0
        top: 30px
        padding: 20px
        border-width: 3px 3px 3px 0
        @include overlayPeek(0.3s)

    .fcs-results-overlay
        @include overlayPeek(0.3s)
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 300px
        max-width: 98%
        padding: 20px
        box-sizing: border-box

        .fcs-results-header
            position: relative
            h2
                font-size: 40px

        ul
            padding-left: 1em


// Sitewide UI buttons
.fcs-ui-button
    display: inline-block
    width: 64px
    height: 64px
    margin: 0 5px
    margin-bottom: 20px
    border-radius: 32px
    background-color: $col-primary
    background-image: url("../../static/images/flyingcrow-uisprite.png")
    background-size: 250px auto
    -webkit-transition: -webkit-transform 0.3s
    transition: transform 0.3s
    -webkit-transform: scale(1, 1)
    transform: scale(1, 1)

    &:hover
        -webkit-transform: scale(1.1, 1.1)
        transform: scale(1.1, 1.1)

    &.fcs-halfsize
        width: 32px
        height: 32px
        background-size: 125px auto
        margin-bottom: 0

        &.fcs-home
            background-position: -96px 0
        &.fcs-dest
            background-position: -64px 0
        &.fcs-compute
            background-position: 0 -32px
        &.fcs-reset
            background-position: -32px -32px
        &.fcs-back
            background-position: -64px -32px

    &.fcs-home
        background-position: -192px 0
    &.fcs-dest
        background-position: -128px 0
    &.fcs-compute
        background-position: 0 -64px
    &.fcs-reset
        background-position: -64px -64px
    &.fcs-back
        background-position: -128px -64px

    .fcs-btn-label
        position: absolute
        left: 3px
        right: 3px
        top: 110%
        font-size: 0.6em
        color: #444
        padding: 2px
        background-color: #FFF
