@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Arimo:400,700')

$col-primary: #ff8400

@mixin overlayPeek($time)
    -webkit-transition: -webkit-transform $time
    transition: transform $time
    -webkit-transform: translate(-100%, 0)
    transform: translate(-100%, 0)
    &.fcs-active
        -webkit-transform: translate(0, 0)
        transform: translate(0, 0)