html
    head
        title The Flying Crow Salesman Company
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css")
    body
        h1= message
        #fcs-inject Loading...
        script(src="build/bundle.js")