@import "./src/vars-mixins.sass"
@import "./src/map-overlay.sass"

body
    font-family: "Arimo", Helvetica, Arial, sans-serif

h1, h2, h3, h4
    font-family: "Amatic SC", Helvetica, Arial, sans-serif
    
#fcs-inject
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%

    .fcs-map
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%

        .fcs-marker
            width: 64px
            height: 64px
            background-image: url("../../static/images/flyingcrow-uisprite.png")
            background-size: 250px auto
            opacity: 0.8
            margin-top: -32px

            &:hover
                opacity: 1

            &.fcs-marker-home
                background-position: -64px 0
            &.fcs-marker-dest
                background-position: 0 0